body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 244.71c13.8 11.394 41.4 48.302 69 56.969 27.6 8.666 41.4.584 69-13.635 27.6-14.218 41.4-85.372 69-57.458s41.4 142 69 197.03 41.4 88.261 69 78.12c27.6-10.14 41.4-83.237 69-128.826s41.4-71.034 69-99.117c27.6-28.084 41.4-107.032 69-41.3 27.6 65.733 41.4 283.319 69 369.963s41.4 70.294 69 63.256c27.6-7.037 41.4-9.732 69-98.444 27.6-88.71 41.4-282.142 69-345.112 27.6-62.969 41.4-17.396 69 30.265 27.6 47.662 41.4 187.13 69 208.04 27.6 20.911 41.4-36.56 69-103.487 27.6-66.926 41.4-211.045 69-231.141 27.6-20.097 41.4 77.336 69 130.658 27.6 53.323 41.4 79.48 69 135.954 27.6 56.474 41.4 147.775 69 146.418 27.6-1.358 41.4-127.643 69-153.204 27.6-25.561 41.4-1.382 69 25.4 27.6 26.78 41.4 131.603 69 108.507 27.6-23.097 41.4-234.61 69-223.99 27.6 10.62 41.4 182.392 69 277.093 27.6 94.7 41.4 194.63 69 196.408 27.6 1.778 41.4-138.18 69-187.52s41.4-63.421 69-59.178c27.6 4.243 41.4 121.313 69 80.394 27.6-40.92 55.2-227.99 69-284.988L2000 1000H0Z%22 fill=%22%230033661a%22%2F%3E%3Cpath d=%22M0 244.71c13.8 11.394 41.4 48.302 69 56.969 27.6 8.666 41.4.584 69-13.635 27.6-14.218 41.4-85.372 69-57.458s41.4 142 69 197.03 41.4 88.261 69 78.12c27.6-10.14 41.4-83.237 69-128.826s41.4-71.034 69-99.117c27.6-28.084 41.4-107.032 69-41.3 27.6 65.733 41.4 283.319 69 369.963s41.4 70.294 69 63.256c27.6-7.037 41.4-9.732 69-98.444 27.6-88.71 41.4-282.142 69-345.112 27.6-62.969 41.4-17.396 69 30.265 27.6 47.662 41.4 187.13 69 208.04 27.6 20.911 41.4-36.56 69-103.487 27.6-66.926 41.4-211.045 69-231.141 27.6-20.097 41.4 77.336 69 130.658 27.6 53.323 41.4 79.48 69 135.954 27.6 56.474 41.4 147.775 69 146.418 27.6-1.358 41.4-127.643 69-153.204 27.6-25.561 41.4-1.382 69 25.4 27.6 26.78 41.4 131.603 69 108.507 27.6-23.097 41.4-234.61 69-223.99 27.6 10.62 41.4 182.392 69 277.093 27.6 94.7 41.4 194.63 69 196.408 27.6 1.778 41.4-138.18 69-187.52s41.4-63.421 69-59.178c27.6 4.243 41.4 121.313 69 80.394 27.6-40.92 55.2-227.99 69-284.988%22 fill=%22none%22 stroke=%22%23036%22%2F%3E%3C%2Fsvg%3E");
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-container form {
    text-align: left;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.magicpattern { 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 727.143c13.8-21.589 41.4-55.361 69-107.946 27.6-52.586 41.4-86.944 69-154.98 27.6-68.034 41.4-221.857 69-185.195 27.6 36.662 41.4 367.88 69 368.506 27.6.626 41.4-359.121 69-365.378 27.6-6.258 41.4 354.718 69 334.092 27.6-20.626 41.4-382.74 69-437.222 27.6-54.481 41.4 92.703 69 164.814 27.6 72.11 41.4 201.654 69 195.738 27.6-5.917 41.4-232.394 69-225.32 27.6 7.074 41.4 163.649 69 260.69 27.6 97.04 41.4 275.942 69 224.514s41.4-447.766 69-481.654c27.6-33.888 41.4 344.492 69 312.216 27.6-32.276 41.4-420.472 69-473.596 27.6-53.123 41.4 122.257 69 207.981 27.6 85.724 41.4 197.282 69 220.64 27.6 23.358 41.4-11.59 69-103.85 27.6-92.26 41.4-283.426 69-357.449 27.6-74.023 41.4-44.315 69-12.663 27.6 31.651 41.4 119.108 69 170.921 27.6 51.814 41.4 82.924 69 88.145 27.6 5.22 41.4-49.075 69-62.04 27.6-12.965 41.4-36.876 69-2.784s41.4 152.68 69 173.246c27.6 20.565 41.4-124.314 69-70.418 27.6 53.896 41.4 334.654 69 339.896 27.6 5.243 41.4-285.59 69-313.683 27.6-28.093 55.2 138.573 69 173.216l-1 392.42H0Z%22 fill=%22%230033661a%22%2F%3E%3Cpath d=%22M0 727.143c13.8-21.589 41.4-55.361 69-107.946 27.6-52.586 41.4-86.944 69-154.98 27.6-68.034 41.4-221.857 69-185.195 27.6 36.662 41.4 367.88 69 368.506 27.6.626 41.4-359.121 69-365.378 27.6-6.258 41.4 354.718 69 334.092 27.6-20.626 41.4-382.74 69-437.222 27.6-54.481 41.4 92.703 69 164.814 27.6 72.11 41.4 201.654 69 195.738 27.6-5.917 41.4-232.394 69-225.32 27.6 7.074 41.4 163.649 69 260.69 27.6 97.04 41.4 275.942 69 224.514s41.4-447.766 69-481.654c27.6-33.888 41.4 344.492 69 312.216 27.6-32.276 41.4-420.472 69-473.596 27.6-53.123 41.4 122.257 69 207.981 27.6 85.724 41.4 197.282 69 220.64 27.6 23.358 41.4-11.59 69-103.85 27.6-92.26 41.4-283.426 69-357.449 27.6-74.023 41.4-44.315 69-12.663 27.6 31.651 41.4 119.108 69 170.921 27.6 51.814 41.4 82.924 69 88.145 27.6 5.22 41.4-49.075 69-62.04 27.6-12.965 41.4-36.876 69-2.784s41.4 152.68 69 173.246c27.6 20.565 41.4-124.314 69-70.418 27.6 53.896 41.4 334.654 69 339.896 27.6 5.243 41.4-285.59 69-313.683 27.6-28.093 55.2 138.573 69 173.216%22 fill=%22none%22 stroke=%22%23036%22 stroke-width=%225%22%2F%3E%3C%2Fsvg%3E");
  }
  .magicpattern2 { 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 244.71c13.8 11.394 41.4 48.302 69 56.969 27.6 8.666 41.4.584 69-13.635 27.6-14.218 41.4-85.372 69-57.458s41.4 142 69 197.03 41.4 88.261 69 78.12c27.6-10.14 41.4-83.237 69-128.826s41.4-71.034 69-99.117c27.6-28.084 41.4-107.032 69-41.3 27.6 65.733 41.4 283.319 69 369.963s41.4 70.294 69 63.256c27.6-7.037 41.4-9.732 69-98.444 27.6-88.71 41.4-282.142 69-345.112 27.6-62.969 41.4-17.396 69 30.265 27.6 47.662 41.4 187.13 69 208.04 27.6 20.911 41.4-36.56 69-103.487 27.6-66.926 41.4-211.045 69-231.141 27.6-20.097 41.4 77.336 69 130.658 27.6 53.323 41.4 79.48 69 135.954 27.6 56.474 41.4 147.775 69 146.418 27.6-1.358 41.4-127.643 69-153.204 27.6-25.561 41.4-1.382 69 25.4 27.6 26.78 41.4 131.603 69 108.507 27.6-23.097 41.4-234.61 69-223.99 27.6 10.62 41.4 182.392 69 277.093 27.6 94.7 41.4 194.63 69 196.408 27.6 1.778 41.4-138.18 69-187.52s41.4-63.421 69-59.178c27.6 4.243 41.4 121.313 69 80.394 27.6-40.92 55.2-227.99 69-284.988L2000 1000H0Z%22 fill=%22%230033661a%22%2F%3E%3Cpath d=%22M0 244.71c13.8 11.394 41.4 48.302 69 56.969 27.6 8.666 41.4.584 69-13.635 27.6-14.218 41.4-85.372 69-57.458s41.4 142 69 197.03 41.4 88.261 69 78.12c27.6-10.14 41.4-83.237 69-128.826s41.4-71.034 69-99.117c27.6-28.084 41.4-107.032 69-41.3 27.6 65.733 41.4 283.319 69 369.963s41.4 70.294 69 63.256c27.6-7.037 41.4-9.732 69-98.444 27.6-88.71 41.4-282.142 69-345.112 27.6-62.969 41.4-17.396 69 30.265 27.6 47.662 41.4 187.13 69 208.04 27.6 20.911 41.4-36.56 69-103.487 27.6-66.926 41.4-211.045 69-231.141 27.6-20.097 41.4 77.336 69 130.658 27.6 53.323 41.4 79.48 69 135.954 27.6 56.474 41.4 147.775 69 146.418 27.6-1.358 41.4-127.643 69-153.204 27.6-25.561 41.4-1.382 69 25.4 27.6 26.78 41.4 131.603 69 108.507 27.6-23.097 41.4-234.61 69-223.99 27.6 10.62 41.4 182.392 69 277.093 27.6 94.7 41.4 194.63 69 196.408 27.6 1.778 41.4-138.18 69-187.52s41.4-63.421 69-59.178c27.6 4.243 41.4 121.313 69 80.394 27.6-40.92 55.2-227.99 69-284.988%22 fill=%22none%22 stroke=%22%23036%22%2F%3E%3C%2Fsvg%3E");
  }
  
.login-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #003366; /* Dark blue */
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #002244; /* Darker blue */
}
